@use "./node_modules/bootstrap/scss/bootstrap.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

$main-color: #0282F9;
$main-background-color: #303030;
$main-text-color: #959595;

body {
    font-family: 'Open Sans', sans-serif;
}